body{
	background: #fff;
	font-family: 'PT Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald', sans-serif;
}
header{
	background: #6e6e6d;
}
	header nav{
		padding: 10px;
	}
	header nav a{
		color: #fff;
		text-decoration: none;
	}
		header nav a:hover{
			color: #4fd8bb;
			text-decoration: none;
		}

		header li[title^="zenva"]{
			background: url(../images/icons_header.png) no-repeat 0px 1px;
		}
			header li a[title^="zenva"]{
				left: 34px;
				position: relative;
			}
		header li[title^="gamedev"]{
			background: url(../images/icons_header.png) no-repeat 40px -19px;
		}
			header li a[title^="gamedev"]{
				left: 60px;
				position: relative;
			}
		header li[title^="launge"]{
			background: url(../images/icons_header.png) no-repeat 70px -40px;
		}
			header li a[title^="launge"]{
				left: 93px;
				position: relative;
			}

.menuprincipal a, .menuprincipal a:hover{
	color: #6f6f6e;
	text-decoration: none;
}
	
footer{
	background: #6e6e6d;
	margin-top: 80px;
}
	footer a, footer a:hover{
		color: #fff;
		text-decoration: none;
	}
		footer address{
			color: #b7b7b6;
			margin-top: 15px;
		}
.logo-menuprincipal{
	margin-top: 50px;
}
.puntos-accion{
	margin-top: 60px;
}
	.puntos-accion .row{
		box-shadow: 0 2px 10px rgba(0,0,0,0.5);
	}
	.puntos-accion li{
		border-right: 1px solid #fff;
		display: inline-block;
		height: 193px;
		padding: 60px 0;
	}
		.puntos-accion ul p{
			padding: 20px 20px 0 20px;
			width: 300px;
		}
		.puntos-accion .zenva{
			border-top: 10px solid #009d85; 
			background: url(../images/punto-accion1.jpg) #e8e8e8 no-repeat 30px 10px;
		}
		.puntos-accion .gamedev{
			border-top: 10px solid #ffc55f; 
			background: url(../images/punto-accion2.jpg) #e8e8e8 no-repeat 30px 10px;
		}
		.puntos-accion .portafolio{
			border-top: 10px solid #ff477e; 
			background: url(../images/punto-accion3.jpg) #e8e8e8 no-repeat 30px 10px;
		}

.cursos-destacados{
	background: #ebebeb;
	border-top: 10px solid #009d85;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	margin-top: 70px;
	overflow: hidden; 
	padding: 0;
}
	.cursos-destacados h2, .cursos{
		color: #009d85;
	}
	.cursos{
		text-align: center;
	}

	.cursos-destacados h2{
		background: url(../images/icons_articles.gif) 0 3px no-repeat;
		font-size: 1.5em;
		padding-left: 25px;
	}
	.cursos-destacados strong{
		font-size: 14px;
	}
	.cursos img{
		margin-bottom: 15px;
	}

	.cursos div{
		padding-bottom: 20px;
	}
	.cursos  p{
		color: #868686;
	}
	.cursos a, .cursos a:hover{
		color: #47f2cf;
		text-decoration: none;
		text-shadow: 0 0 1px rgba(0,0,0,0.1);
	}

.testimonios-ultimos_articulos{
	margin-top: 40px;
}
	.testimonios h4{
		background: url(../images/icons_articles.gif) 0 -21px no-repeat;
		color: #6f6f6e;
		padding-left: 30px;
	}

	.coment-testimonio figure{
		background: #46f2cf;
		border-radius: 5px;
		display: block;
		float: left;
		height: 70px;
		margin-right: 15px;
		width: 70px;
	}
	.coment-testimonio em strong{
		color: #46f2cf;
	}
	.coment-testimonio li{
		margin-bottom: 25px;
	}
.ultimos-articulos{
	background: #ebebeb;
	border-left: 10px solid #ff477e;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	font-size: 0.9em;
}
	.ultimos-articulos h2{
		color: #ff477e;
		font-size: 1.5em;
		background: url(../images/icons_articles.gif) 0 -42px no-repeat;
		padding-left: 20px;
	}
	.ultimos-articulos strong{
		color: #ff477e;
	}
	.post-ultimos-articulos li{
		border-bottom: 1px solid #fff;
		padding: 10px 0;
	}
		.post-ultimos-articulos li:last-child {
		border-bottom: 0;
	}

.menu-footer{
	margin-top: 15px;
}
	.menu-footer li[title^="nosotros"],
	.menu-footer li[title^="portafolio"],
	.menu-footer li[title^="contacto"]{
		padding-left: 25px;
		margin: 10px 0;
	}
	.menu-footer li[title^="nosotros"]{
		background: url(../images/icons_menu_footer.gif) 0 1px no-repeat;
	}
	.menu-footer li[title^="portafolio"]{
		background: url(../images/icons_menu_footer.gif) 0 -18px no-repeat;
	}
	.menu-footer li[title^="contacto"]{
		background: url(../images/icons_menu_footer.gif) 0 -36px no-repeat;
	}

.socials-footer a{
	display: inline-block;
	height: 22px;
	width: 22px;
}
	.socials-footer .fb{
		background: url(../images/sociales.jpg) no-repeat 0 0;
		
	}
	.socials-footer .tw{
		background: url(../images/sociales.jpg) no-repeat 0 -22px;
	}

	.socials-footer .sk{
		background: url(../images/sociales.jpg) no-repeat 0 -44px;
	}

	.socials-footer .in{
		background: url(../images/sociales.jpg) no-repeat 0 -65px;
	}

	.socials-footer .g{
		background: url(../images/sociales.jpg) no-repeat 0 -86px;
	}

	.socials-footer .yt{
		background: url(../images/sociales.jpg) no-repeat 0 -106px;
	}
/************PORTAFOLIO***********/

.cabecera, .cabecera-nosotros, .cabecera-contacto{
	background: #e8e8e8;
	border-top: 10px solid #009d85;
	box-shadow: 0 0 12px rgba(0,0,0,0.5);
	height: 70px;
	margin-top: 40px;
}
	.cabecera h2, .cabecera-nosotros h2, .cabecera-contacto h2{
		background: url(../images/icons_cabecera.gif) 0 3px no-repeat;
		color: #6f6f6e;
		font-size: 1.8em;
		margin-left: 30px;
		padding-left: 40px;
	}
	.cabecera ul{
		margin:20px 20px 0 0;

	}
ul.list-portafolio{
	padding: 0;
	text-align: center;
	}

	.list-portafolio li{
		background: #ebebeb;
		border-left: 10px solid #009d85;
		display: inline-block;
		height: 280px;
		margin-top: 20px;
		width: 268px;
		position: relative;
		margin-right: 21px;
		left: 10px;
	}
		.list-portafolio h3{
			color: #009d85;
			font-size: 1.3em;
			padding-left: 12px;
			text-align: left;
		}
		.list-portafolio p{
			color: #9c9b9b;
			text-align: left;
			text-indent: 20px;
		}
/************NOSOTROS***********/

.cabecera-nosotros{
	border-top: 10px solid #ffc55f;
}
	.cabecera-nosotros h2{
		background: url(../images/icons_cabecera.gif) 0 -24px no-repeat;
		padding-left: 40px;
	}
.contenidos{
	margin-top: 25px;
	text-align: center;
}
	.contenidos article{
		margin-bottom: 70px;
	}
	.contenidos article figure{
		display: inline-block;
		margin-right: 35px;
		vertical-align: top;
	}
	.contenidos article div{
		color: #b1b1b1;
		display: inline-block;
		text-align: justify;
		vertical-align: top;
		width: 450px;
	}
		.contenidos h2, .contenidos h3{
			color: #009d85;
			font-size: 1.6em;
		}
		.contenidos article figure:last-child{
			margin-left: 120px;
		}
.mas-post{
	color: #b1b1b1;
}
/************CONTACTO***********/

.cabecera-contacto{
	border-top: 10px solid #ff477e;
}
	.cabecera-contacto h2{
		background: url(../images/icons_cabecera.gif) 0 -50px no-repeat;
		padding-left: 40px;
	}
form, aside.mapa{
	margin-top: 40px;
}
form .form-group label{
	color: #9c9b9b;
}
	form h3{
		color: #ff477e;
	}
	form .form-group input, textarea.form-control{
		background: #ebebeb;
	}
form #submit{
	background: #ff477e;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	color: #fff;
	margin-top: 18px;
	width: 90px;
}
	form #submit:hover{
		background: #fd588a;
	}
.socials-mapa{
	margin-top: 10px;
}
.socials-mapa a{
	display: inline-block;
	height: 40px;
	margin-right: 21px;
	width: 40px;
}
.socials-mapa .fb{
		background: url(../images/sociales2.jpg) no-repeat 0 0;
	}
	.socials-mapa .fb:hover{
		background: url(../images/sociales2.jpg) no-repeat -40px 1px;
	}
.socials-mapa .tw{
		background: url(../images/sociales2.jpg) no-repeat 0 -39px;
	}
	.socials-mapa .tw:hover{
		background: url(../images/sociales2.jpg) no-repeat -40px -38px;
	}

.socials-mapa .sk{
		background: url(../images/sociales2.jpg) no-repeat 0 -78px;
	}
	.socials-mapa .sk:hover{
		background: url(../images/sociales2.jpg) no-repeat -40px -78px;
	}
.socials-mapa .in{
		background: url(../images/sociales2.jpg) no-repeat 0 -117px;
	}
	.socials-mapa .in:hover{
		background: url(../images/sociales2.jpg) no-repeat -40px -117px;
	}

.socials-mapa .g{
		background: url(../images/sociales2.jpg) no-repeat 0 -155px;
	}
	.socials-mapa .g:hover{
		background: url(../images/sociales2.jpg) no-repeat -40px -155px;
	}

.socials-mapa .yt{
		background: url(../images/sociales2.jpg) no-repeat 0 -194px;
	}
	.socials-mapa .yt:hover{
		background: url(../images/sociales2.jpg) no-repeat -40px -194px;
	}
